.nav{
    box-sizing:border-box;
    padding:20px;
}

.nav li {
    background-color:rgb(145, 215, 255);
    padding:20px;
    font-size:20px;
    border-radius:20px;
    list-style: none;
    
}

.nav li:hover{
    background-color:rgb(115, 204, 255);
}

ul{
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-direction:row;
    width:40%;
}